@model Emplyoee
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Delete Employee</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <div class="border p-3 ">

                <div asp-validation-summary="All"></div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" disabled class="form-control border-0 shadow" />
                    <label asp-for="Name" class="ms-2"></label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Email" disabled class="form-control border-0 shadow">
                    <label asp-for="Email" class="ms-2"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DOB" disabled class="form-control border-0 shadow">
                    <label asp-for="DOB" class="ms-2"></label>
                    <span asp-validation-for="DOB" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="Gender" disabled class="form-control border-0 shadow">
                        <option disabled selected>--Select Gender--</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <label asp-for="Gender" disabled class="ms-2"></label>
                    <span asp-validation-for="Gender" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Address" disabled class="form-control border-0 shadow">
                    <label asp-for="Address" class="ms-2"></label>
                    <span asp-validation-for="Address" class="text-danger"></span>

                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="City" disabled class="form-control border-0 shadow">
                    <label asp-for="City" class="ms-2"></label>
                    <span asp-validation-for="City" class="text-danger"></span>

                </div>


                <div class="form-floating py-2 col-12">
                    <div class="form-check">
                        <input asp-for="IsFullTime" disabled class="form-check-input" type="checkbox" id="IsFullTimeCheck" />
                        <label asp-for="IsFullTime" class="form-check-label ms-2" for="IsFullTimeCheck"></label>
                    </div>
                    <span asp-validation-for="IsFullTime" class="text-danger"></span>
                </div>



                <div class="row pt-2">
                    <div class="col-6 col-md-3">

                        <button type="submit" class="btn btn-danger form-contrl">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Emplyoee" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}